<section class="cards-list-container">
    <div class="coin-card btc">
        <div class="card-header d-fx">
            <h3 class="coin-title no-margin">Bitcoin</h3>
            <div class="procent"> 0,05%</div>
        </div>
        <ul class="no-padding">
            <li>USD: 4,4552 <i class="fas fa-long-arrow-alt-up"></i></li>
            <li>EUR: 176,97 <i class="fas fa-long-arrow-alt-down"></i></li>
        </ul>
        <button class="coin-btn" type="button" (click)="onModal()"> <i class="fas fa-signal"></i> See chart</button>
    </div>
    <div class="coin-card ltc">
        <div class="card-header d-fx">
            <h3 class="coin-title no-margin">Litecoin</h3>
            <div class="procent"> 0,05%</div>
        </div>
        <ul class="no-padding">
            <li>USD: 4,4552 <i class="fas fa-long-arrow-alt-up"></i></li>
            <li>EUR: 176,97 <i class="fas fa-long-arrow-alt-down"></i></li>
        </ul>
        <button class="coin-btn" type="button"> <i class="fas fa-signal"></i> See chart</button>
    </div>
    <div class="coin-card eth">
        <div class="card-header d-fx">
            <h3 class="coin-title no-margin">Ethereum</h3>
            <div class="procent"> 0,05%</div>
        </div>
        <ul class="no-padding">
            <li>USD: 4,4552 <i class="fas fa-long-arrow-alt-up"></i></li>
            <li>EUR: 176,97 <i class="fas fa-long-arrow-alt-down"></i></li>
        </ul>
        <button class="coin-btn" type="button"> <i class="fas fa-signal"></i> See chart</button>
    </div>
</section>