<div class="text-center qr-modal">
    <div class="modal-header-with-icon">
        <p class="m-title no-padding ">Recieve coins to wallet</p>
        <button class="btn-btc-info">
            <i class="fas fa-exclamation-circle"></i>
        </button>
    </div>
    <div class="modal-content mt-40">
        <img src="assets/Group 1224 1.png" alt="">
        <div class="right-side text-left">
            <button class="btn-1">Email</button>
            <button class="btn-1 mt-20">Print</button>
        </div>
    </div>
    <div class="modal-footer mt-40">
        <div class="buffer-container ">
            <p class="no-margin">0xfcfc16ze0xfcfc16ze0xfcfc16zecfc16ze</p>
            <button class="btn-copy no-bg no-border">
                <i class="far fa-copy"></i>
            </button>
        </div>
        <button class="btn-close" (click)="onClose()"> Close</button>
    </div>
</div>