<section class="left-side-bar-container">
    <ul class="left-menu-list">
        <li>Bitcoin Simplified</li>
        <li>Why Bitcoin network was ever needed?</li>
        <li>How Bitcoin Started?</li>
        <ul>
            <li>- Original Bitcoin Whitepaper</li>
        </ul>
        <li>How are more Bitcoins Created? </li>
        <li>Maximum number of Bitcoins</li>
        <li>How can one own Bitcoin and Pay with it?</li>
        <li>Why Bitcoin is Viable for the world?</li>
        <li>Bitcoin and Blockchain Revolution</li>
        <li>Blockchain as a Technological Innovation</li>
        <li> Is Bitcoin Money?</li>
        <ul>
            <li>- In North America</li>
            <li>- In Europe</li>
            <li>- In Asia and Australia</li>
        </ul>
        <li>How does Blockchain validate the owner? </li>
        <li>What are different parts of the Bitcoin network? </li>
        <ul>
            <li>- Miners - Mining Pools </li>
            <li>- How many miners are there? </li>
            <li>- Nodes - Achieving Decentralized Consensus</li>
            <li>- How can Bitcoin be theoretically hacked?</li>
            <li>- What is Hashrate?</li>
            <li>- What will become of the miners once the block reward gets too small? Will miners exist at all?</li>
        </ul>
        <li>Working of a Bitcoin Wallet and its Anonymity</li>
        <li>How to Store Bitcoins? </li>
        <ul>
            <li>- Web Wallet </li>
            <li>- Mobile Wallets </li>
            <li>- Desktop Wallets</li>
            <li>- Hardware Wallets</li>
        </ul>
        <li> Bitcoin and Taxes</li>
        <ul>
            <li>- USA</li>
            <li>- What is an IRS form 1099-K?</li>
        </ul>
    </ul>
</section>