<section class="left-side-bar-container">
    <ul class="left-menu-list">
        <li><a href="#"> Bitcoin Simplified</a></li>
        <li><a href="#"> Why Bitcoin network was ever needed?</a></li>
        <li><a href="#"> How Bitcoin Started?</a></li>
        <ul>
            <li><a href="#">- Original Bitcoin Whitepaper</a></li>
        </ul>
        <li><a href="#">How are more Bitcoins Created? </a></li>
        <li><a href="#">Maximum number of Bitcoins</a></li>
        <li><a href="#">How can one own Bitcoin and Pay with it?</a></li>
        <li><a href="#">Why Bitcoin is Viable for the world?</a></li>
        <li><a href="#">Bitcoin and Blockchain Revolution</a></li>
        <li><a href="#">Blockchain as a Technological Innovation</a></li>
        <li><a href="#"> Is Bitcoin Money?</a></li>
        <ul>
            <li><a href="#">- In North America</a></li>
            <li><a href="#">- In Europe</a></li>
            <li><a href="#">- In Asia and Australia</a></li>
        </ul>
        <li><a href="#">How does Blockchain validate the owner? </a></li>
        <li><a href="#">What are different parts of the Bitcoin network? </a></li>
        <ul>
            <li><a href="#">- Miners - Mining Pools </a></li>
            <li><a href="#">- How many miners are there? </a></li>
            <li><a href="#">- Nodes - Achieving Decentralized Consensus</a></li>
            <li><a href="#">- How can Bitcoin be theoretically hacked?</a></li>
            <li><a href="#">- What is Hashrate?</a></li>
            <li><a href="#">- What will become of the miners once the block reward gets too small? Will miners exist at
                    all?</a></li>
        </ul>
        <li><a href="#">Working of a Bitcoin Wallet and its Anonymity</a></li>
        <li><a href="#">How to Store Bitcoins? </a></li>
        <ul>
            <li><a href="#">- Web Wallet </a></li>
            <li><a href="#">- Mobile Wallets </a></li>
            <li><a href="#">- Desktop Wallets</a></li>
            <li><a href="#">- Hardware Wallets</a></li>
        </ul>
        <li><a href="#"> Bitcoin and Taxes</a></li>
        <ul>
            <li><a href="#">- USA</a></li>
            <li><a href="#">- What is an IRS form 1099-K?</a></li>
        </ul>
    </ul>
</section>