.header-container{
    display: flex;
    flex: 1;
    padding: 60px 0 0;
}
.logo-container{
    display: block;
    width: 500px;
    text-align: center;
}
.header-nav-menu{
    display: flex;
    justify-content: space-between;
    position: relative;  
    width: 920px;
    border-bottom: 1px solid #EBE6E1;
    .nav-auth{
        position: relative;
    }
}
.nav-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    color: #4D4337;
    &:first-child .nav-item:first-child {
        padding-left: 0;
    }
    &-auth{
        text-align: right;
        display: flex;
        list-style-type: none;
        padding: 0;
        color: #4D4337;
        &:first-child .nav-item:first-child {
            padding-right: 14px;
        }
        &:first-child .nav-item:last-child {
            padding-right: 0px;
            padding-left: 62px;
        }
        &:first-child .nav-item:nth-last-child(2) {
            padding-left: 14px;
        }
    }
}
#lang{
    text-transform: uppercase;
}
.nav-item{
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 0 36px;
}
.menu-icon-wrapper {
      width: 30px;
      height: 18px;
      display: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .menu-icon {
      position: relative;
      width: 30px;
      height: 2px;
      background-color:#73695E;
      cursor: pointer;
      transition: 0.25s;
      transition-delay: 0.3s ;
    }
    
    .menu-icon::before, .menu-icon::after {
      position: absolute;
      left: 0;
      top: -6px;
      content: '';
      width: 30px;
      height: 2px;
      background-color:#73695E;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon::after {
      top: 6px;
    }
    
    .menu-icon.menu-icon-active {
      background-color: transparent;
    }
    
    .menu-icon.menu-icon-active::before, .menu-icon.menu-icon-active::after {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    
    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
    }
